langchain
flask
sentence-transformers
pypdf
python-dotenv
langchain-pinecone
langchain-google-genai
google-generativeai
langchain-community
livekit-agents
livekit-plugins-google
livekit-plugins-silero
flask-cors
uvicorn
langchain-groq
-e .